<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Simulation</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Simulation</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <p>Start simulation</p>
                            </div>
                            <div class="icon icon-color-unset">
                                <i class="ion ion-android-checkbox" style="top: 0; font-size: 60px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <p>Stop simulation</p>
                            </div>
                            <div class="icon icon-color-unset">
                                <i class="ion ion-ios-close-outline" style="top: 0; font-size: 60px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4">
                        <!-- small box -->
                        <div class="small-box bg-navy">
                            <div class="inner">
                                <p>Create Orders</p>
                            </div>
                            <div class="icon icon-color-unset">
                                <i class="ion ion-log-in" style="top: 0; font-size: 60px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->